Practica/tp4/src/img-node-red/embed/test.txt
[{"id":"392ad94b.4e6b96","type":"tab","label":"pto 1 - nuevo svg","disabled":false,"info":""},{"id":"9bdd5df6.53a22","type":"tab","label":"pto 1 - editar svg","disabled":false,"info":""},{"id":"79ad1766.3057b8","type":"tab","label":"pto2 - editar valores","disabled":false,"info":""},{"id":"1ab88a4f.d6f256","type":"mqtt-broker","z":"","name":"broker mqtt","broker":"mqtt://mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5d5f1d48.c20b7c","type":"ui_tab","z":"","name":"Fabrica de cerveza","icon":"dashboard"},{"id":"5e5915e6.f07aec","type":"ui_group","z":"","name":"tambor","tab":"5d5f1d48.c20b7c","disp":true,"width":"6","collapse":false},{"id":"b1030c5b.f2c198","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"180b4dea.6eb6fa","type":"inject","z":"392ad94b.4e6b96","name":"inyectar rect","topic":"/canvas/nuevo/rect","payload":"una prueba","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["aabfd554.b59e38"]]},{"id":"c4fcc1ea.9d40e","type":"mqtt out","z":"392ad94b.4e6b96","name":"server msg","topic":"","qos":"0","retain":"true","broker":"1ab88a4f.d6f256","x":350,"y":100,"wires":[]},{"id":"a72fd046.db10a8","type":"mqtt in","z":"392ad94b.4e6b96","name":"","topic":"/canvas/nuevo/#","qos":"0","broker":"1ab88a4f.d6f256","x":100,"y":220,"wires":[["d68ac44e.c352c8"]]},{"id":"d68ac44e.c352c8","type":"debug","z":"392ad94b.4e6b96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":220,"wires":[]},{"id":"fb31877c.022538","type":"inject","z":"9bdd5df6.53a22","name":"edicion valor 1","topic":"/canvas/editar/valor1","payload":"edicion valor 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["eefd3e6c.3bcae8"]]},{"id":"eefd3e6c.3bcae8","type":"mqtt out","z":"9bdd5df6.53a22","name":"server msg","topic":"","qos":"0","retain":"true","broker":"1ab88a4f.d6f256","x":350,"y":80,"wires":[]},{"id":"b167955e.143ba8","type":"mqtt in","z":"9bdd5df6.53a22","name":"","topic":"/canvas/editar/#","qos":"0","broker":"1ab88a4f.d6f256","x":120,"y":200,"wires":[["eac3d7cb.8d6ca"]]},{"id":"eac3d7cb.8d6ca","type":"debug","z":"9bdd5df6.53a22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":200,"wires":[]},{"id":"ec3cd84e.c4c5b8","type":"inject","z":"9bdd5df6.53a22","name":"edicion valor 2","topic":"/canvas/editar/valor2","payload":"edicion valor 2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["eefd3e6c.3bcae8"]]},{"id":"f78a17de.ad78a","type":"inject","z":"9bdd5df6.53a22","name":"edicion valor 3","topic":"/canvas/editar/valor3","payload":"edicion valor 3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["eefd3e6c.3bcae8"]]},{"id":"30e05fec.86a818","type":"inject","z":"392ad94b.4e6b96","name":"inyectar circle","topic":"/canvas/nuevo/circle","payload":"una prueba","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["f2279076.273f8"]]},{"id":"aabfd554.b59e38","type":"svg-storage","z":"392ad94b.4e6b96","cantidad":0,"x":270,"y":40,"wires":[["c4fcc1ea.9d40e"]]},{"id":"f2279076.273f8","type":"svg-storage","z":"392ad94b.4e6b96","cantidad":0,"x":270,"y":160,"wires":[["c4fcc1ea.9d40e"]]},{"id":"1c4358e9.c7cd4f","type":"ui_slider","z":"79ad1766.3057b8","name":"","label":"set presion","group":"5e5915e6.f07aec","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"5","step":"0.01","x":90,"y":40,"wires":[["469aa053.b3c8d","80abb440.043bb"]]},{"id":"469aa053.b3c8d","type":"ui_gauge","z":"79ad1766.3057b8","name":"","group":"5e5915e6.f07aec","order":0,"width":0,"height":0,"gtype":"gage","title":"get presion","label":"kg/cm2","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":40,"wires":[]},{"id":"80abb440.043bb","type":"mqtt out","z":"79ad1766.3057b8","name":"presion tambor de coccion","topic":"/pm/prod-cerveza/coccion/tambor/presion","qos":"0","retain":"","broker":"1ab88a4f.d6f256","x":320,"y":100,"wires":[]}]
