Practica/tp4/src/img-node-red/embed/test.txt
[{"id":"26c01822.01c5d8","type":"tab","label":"pto 1 - nuevo svg","disabled":false,"info":""},{"id":"c7bac3b7.f9b3e8","type":"tab","label":"pto 1 - editar svg","disabled":false,"info":""},{"id":"1480b588.4bff92","type":"mqtt-broker","z":"","name":"broker mqtt","broker":"mqtt://mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"992aa63e.89f02","type":"inject","z":"26c01822.01c5d8","name":"inyectar archivo","topic":"/canvas/nuevo","payload":"una prueba","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["b386e27d.4c0fb8"]]},{"id":"c55f7c17.1f267","type":"mqtt out","z":"26c01822.01c5d8","name":"server msg","topic":"","qos":"0","retain":"true","broker":"1480b588.4bff92","x":290,"y":160,"wires":[]},{"id":"bd361f.23b819e","type":"mqtt in","z":"26c01822.01c5d8","name":"","topic":"/canvas/nuevo","qos":"0","broker":"1480b588.4bff92","x":100,"y":240,"wires":[["bc54ec50.0a75f8"]]},{"id":"bc54ec50.0a75f8","type":"debug","z":"26c01822.01c5d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":240,"wires":[]},{"id":"d6d090b3.8d8828","type":"inject","z":"c7bac3b7.f9b3e8","name":"edicion valor 1","topic":"/canvas/editar/valor1","payload":"edicion valor 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["debd310c.933f9"]]},{"id":"debd310c.933f9","type":"mqtt out","z":"c7bac3b7.f9b3e8","name":"server msg","topic":"","qos":"0","retain":"true","broker":"1480b588.4bff92","x":350,"y":80,"wires":[]},{"id":"6b113e4e.fca738","type":"mqtt in","z":"c7bac3b7.f9b3e8","name":"","topic":"/canvas/editar/#","qos":"0","broker":"1480b588.4bff92","x":120,"y":200,"wires":[["b4064f8c.e78c98"]]},{"id":"b4064f8c.e78c98","type":"debug","z":"c7bac3b7.f9b3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":200,"wires":[]},{"id":"7fd1c39e.085434","type":"inject","z":"c7bac3b7.f9b3e8","name":"edicion valor 2","topic":"/canvas/editar/valor2","payload":"edicion valor 2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["debd310c.933f9"]]},{"id":"3336811.de02efe","type":"inject","z":"c7bac3b7.f9b3e8","name":"edicion valor 3","topic":"/canvas/editar/valor3","payload":"edicion valor 3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["debd310c.933f9"]]},{"id":"b386e27d.4c0fb8","type":"svg-storage","z":"26c01822.01c5d8","cantidad":0,"x":200,"y":100,"wires":[["c55f7c17.1f267"]]}]
