Practica/tp4/src/img-node-red/embed/test.txt
[{"id":"7d113cc4.c9d0cc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33108602.ccbf8a","type":"tab","label":"pto 1 - nuevo svg","disabled":false,"info":""},{"id":"400f0702.68bea8","type":"tab","label":"pto 1 - editar svg","disabled":false,"info":""},{"id":"c8fc6067.fa52b8","type":"tab","label":"pto2 - editar valores","disabled":false,"info":""},{"id":"29145aff.e3262e","type":"mqtt-broker","z":"","name":"broker mqtt","broker":"mqtt://mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"891f830.2ca37","type":"ui_tab","z":"","name":"Fabrica de cerveza","icon":"dashboard"},{"id":"5c78cdb9.c4ac24","type":"ui_group","z":"","name":"tambor","tab":"891f830.2ca37","disp":true,"width":"6","collapse":false},{"id":"7b1cc905.8131b8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4aa0214f.b7ceb","type":"inject","z":"33108602.ccbf8a","name":"inyectar rect","topic":"/canvas/nuevo/rect","payload":"una prueba","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["4839bdc7.6671c4"]]},{"id":"4a2b2aa4.efd184","type":"mqtt out","z":"33108602.ccbf8a","name":"server msg","topic":"","qos":"0","retain":"true","broker":"29145aff.e3262e","x":350,"y":100,"wires":[]},{"id":"6a092caf.f0e05c","type":"mqtt in","z":"33108602.ccbf8a","name":"","topic":"/canvas/nuevo/#","qos":"0","broker":"29145aff.e3262e","x":100,"y":220,"wires":[["f15fe8b0.a22af8"]]},{"id":"f15fe8b0.a22af8","type":"debug","z":"33108602.ccbf8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":220,"wires":[]},{"id":"4dc5afb8.df44f8","type":"inject","z":"400f0702.68bea8","name":"edicion valor 1","topic":"/canvas/editar/valor1","payload":"edicion valor 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["83fa9577.ff01e8"]]},{"id":"83fa9577.ff01e8","type":"mqtt out","z":"400f0702.68bea8","name":"server msg","topic":"","qos":"0","retain":"true","broker":"29145aff.e3262e","x":350,"y":80,"wires":[]},{"id":"5123f34d.40014c","type":"mqtt in","z":"400f0702.68bea8","name":"","topic":"/canvas/editar/#","qos":"0","broker":"29145aff.e3262e","x":120,"y":200,"wires":[["71e0658c.e5ac7c"]]},{"id":"71e0658c.e5ac7c","type":"debug","z":"400f0702.68bea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":200,"wires":[]},{"id":"88719849.c620d","type":"inject","z":"400f0702.68bea8","name":"edicion valor 2","topic":"/canvas/editar/valor2","payload":"edicion valor 2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["83fa9577.ff01e8"]]},{"id":"525ed8a5.b94948","type":"inject","z":"400f0702.68bea8","name":"edicion valor 3","topic":"/canvas/editar/valor3","payload":"edicion valor 3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["83fa9577.ff01e8"]]},{"id":"23607519.c928c2","type":"inject","z":"33108602.ccbf8a","name":"inyectar circle","topic":"/canvas/nuevo/circle","payload":"una prueba","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["aa339fcd.bd9a1"]]},{"id":"4839bdc7.6671c4","type":"svg-storage","z":"33108602.ccbf8a","cantidad":0,"x":270,"y":40,"wires":[["4a2b2aa4.efd184"]]},{"id":"aa339fcd.bd9a1","type":"svg-storage","z":"33108602.ccbf8a","cantidad":0,"x":270,"y":160,"wires":[["4a2b2aa4.efd184"]]},{"id":"3d648e37.77e442","type":"ui_slider","z":"c8fc6067.fa52b8","name":"","label":"set presion","group":"5c78cdb9.c4ac24","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"5","step":"0.01","x":90,"y":40,"wires":[["aafcc099.5c68d","8fdb62b.b55fba"]]},{"id":"aafcc099.5c68d","type":"ui_gauge","z":"c8fc6067.fa52b8","name":"","group":"5c78cdb9.c4ac24","order":0,"width":0,"height":0,"gtype":"gage","title":"get presion","label":"kg/cm2","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":270,"y":40,"wires":[]},{"id":"8fdb62b.b55fba","type":"mqtt out","z":"c8fc6067.fa52b8","name":"presion tambor de coccion","topic":"/pm/prod-cerveza/coccion/tambor/presion","qos":"0","retain":"true","broker":"29145aff.e3262e","x":320,"y":100,"wires":[]}]
