Practica/tp4/src/img-mqtt-web/src/test.txt
[{"id":"93511c8c.df7958","type":"tab","label":"tp3","disabled":false,"info":""},{"id":"c341c87f.41b678","type":"tab","label":"tp4","disabled":false,"info":""},{"id":"ac91465d.c906c8","type":"mqtt-broker","z":"","name":"broker mqtt","broker":"mqtt://mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9baedfff.120458","type":"inject","z":"c341c87f.41b678","name":"inyectar archivo","topic":"/prueba","payload":"una pru","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["9b6974f.e1c9008"]]},{"id":"fe62cb26.454558","type":"mqtt out","z":"c341c87f.41b678","name":"server msg","topic":"","qos":"0","retain":"true","broker":"ac91465d.c906c8","x":230,"y":200,"wires":[]},{"id":"61a80fed.290e6","type":"http in","z":"93511c8c.df7958","name":"","url":"/:topic","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["78f9fa4c.973194"]]},{"id":"128c340f.c63c44","type":"http response","z":"93511c8c.df7958","name":"","statusCode":"","headers":{},"x":130,"y":200,"wires":[]},{"id":"9ba27fbd.7a399","type":"mqtt in","z":"c341c87f.41b678","name":"","topic":"/prueba","qos":"0","broker":"ac91465d.c906c8","x":70,"y":300,"wires":[["92e8d35b.e9e508"]]},{"id":"92e8d35b.e9e508","type":"debug","z":"c341c87f.41b678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":240,"y":300,"wires":[]},{"id":"9b6974f.e1c9008","type":"svg-storage","z":"c341c87f.41b678","cantidad":0,"x":180,"y":120,"wires":[["fe62cb26.454558"]]},{"id":"78f9fa4c.973194","type":"svg-storage","z":"93511c8c.df7958","cantidad":0,"x":140,"y":120,"wires":[["128c340f.c63c44"]]}]
