Practica/tp4/src/img-mqtt-web/src/test.txt
[{"id":"5d91aed5.f5061","type":"tab","label":"tp3","disabled":false,"info":""},{"id":"664470b2.5f70c","type":"tab","label":"tp4","disabled":false,"info":""},{"id":"7dc3d074.afdfd8","type":"mqtt-broker","z":"","name":"broker mqtt","broker":"mqtt://mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b272429.5135f4","type":"inject","z":"664470b2.5f70c","name":"inyectar archivo","topic":"/prueba","payload":"una prueba","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["9e7a627f.bf168"]]},{"id":"d6bd12ff.129e","type":"mqtt out","z":"664470b2.5f70c","name":"server msg","topic":"","qos":"0","retain":"true","broker":"7dc3d074.afdfd8","x":230,"y":200,"wires":[]},{"id":"5917b047.d63588","type":"http in","z":"5d91aed5.f5061","name":"","url":"/:topic","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["67433867.fe0c"]]},{"id":"1c72fcb.275d883","type":"http response","z":"5d91aed5.f5061","name":"","statusCode":"","headers":{},"x":130,"y":200,"wires":[]},{"id":"837e4310.196058","type":"mqtt in","z":"664470b2.5f70c","name":"","topic":"/prueba","qos":"0","broker":"7dc3d074.afdfd8","x":70,"y":300,"wires":[["9589dec2.df83e8"]]},{"id":"9589dec2.df83e8","type":"debug","z":"664470b2.5f70c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":240,"y":300,"wires":[]},{"id":"9e7a627f.bf168","type":"svg-storage","z":"664470b2.5f70c","cantidad":0,"x":180,"y":120,"wires":[["d6bd12ff.129e"]]},{"id":"67433867.fe0c","type":"svg-storage","z":"5d91aed5.f5061","cantidad":0,"x":140,"y":120,"wires":[["1c72fcb.275d883"]]}]
