Practica/tp4/src/img-node-red/embed/src/test.txt
[{"id":"5d91aed5.f5061","type":"tab","label":"tp3","disabled":false,"info":""},{"id":"664470b2.5f70c","type":"tab","label":"tp4 - nuevo","disabled":false,"info":""},{"id":"c8974b84.9a4d","type":"tab","label":"tp4 - editar","disabled":false,"info":""},{"id":"7dc3d074.afdfd8","type":"mqtt-broker","z":"","name":"broker mqtt","broker":"mqtt://mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2b272429.5135f4","type":"inject","z":"664470b2.5f70c","name":"inyectar archivo","topic":"/canvas/nuevo","payload":"una prueba","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["98064ebf.2de15"]]},{"id":"d6bd12ff.129e","type":"mqtt out","z":"664470b2.5f70c","name":"server msg","topic":"","qos":"0","retain":"true","broker":"7dc3d074.afdfd8","x":290,"y":160,"wires":[]},{"id":"5917b047.d63588","type":"http in","z":"5d91aed5.f5061","name":"","url":"/:topic","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["67433867.fe0c"]]},{"id":"1c72fcb.275d883","type":"http response","z":"5d91aed5.f5061","name":"","statusCode":"","headers":{},"x":130,"y":200,"wires":[]},{"id":"837e4310.196058","type":"mqtt in","z":"664470b2.5f70c","name":"","topic":"/canvas/nuevo","qos":"0","broker":"7dc3d074.afdfd8","x":100,"y":240,"wires":[["9589dec2.df83e8"]]},{"id":"9589dec2.df83e8","type":"debug","z":"664470b2.5f70c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":240,"wires":[]},{"id":"67433867.fe0c","type":"svg-storage","z":"5d91aed5.f5061","cantidad":0,"x":140,"y":120,"wires":[["1c72fcb.275d883"]]},{"id":"288fc7fd.a8c8f","type":"inject","z":"c8974b84.9a4d","name":"edicion valor 1","topic":"/canvas/editar/valor1","payload":"edicion valor 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["bd0731a6.81ee58"]]},{"id":"bd0731a6.81ee58","type":"mqtt out","z":"c8974b84.9a4d","name":"server msg","topic":"","qos":"0","retain":"true","broker":"7dc3d074.afdfd8","x":350,"y":80,"wires":[]},{"id":"9230614a.1b58a","type":"mqtt in","z":"c8974b84.9a4d","name":"","topic":"/canvas/editar/#","qos":"0","broker":"7dc3d074.afdfd8","x":120,"y":200,"wires":[["a8c79f7d.724bb8"]]},{"id":"a8c79f7d.724bb8","type":"debug","z":"c8974b84.9a4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":200,"wires":[]},{"id":"eb740a8a.4ff25","type":"inject","z":"c8974b84.9a4d","name":"edicion valor 2","topic":"/canvas/editar/valor2","payload":"edicion valor 2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["bd0731a6.81ee58"]]},{"id":"9b7a9b18.4c94f","type":"inject","z":"c8974b84.9a4d","name":"edicion valor 3","topic":"/canvas/editar/valor3","payload":"edicion valor 3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["bd0731a6.81ee58"]]},{"id":"98064ebf.2de15","type":"svg-storage","z":"664470b2.5f70c","cantidad":0,"x":200,"y":100,"wires":[["d6bd12ff.129e"]]}]
