Final/nodos test.txt
[
    {
        "id": "c66a7287.5906d",
        "type": "tab",
        "label": "set msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9e214afc.ee904",
        "type": "tab",
        "label": "get msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c426f3b7.59fe8",
        "type": "tab",
        "label": "dsl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2aef8ca.3fc698",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2dd4b5a9.b9c1a2",
        "type": "ui_group",
        "z": "",
        "name": "centrifugado",
        "tab": "b57d6d68.67cd6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b57d6d68.67cd6",
        "type": "ui_tab",
        "z": "",
        "name": "simulacion eventos",
        "icon": "dashboard"
    },
    {
        "id": "238cdb4a.fb4cec",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3211cfe3.4dc0a",
        "type": "ui_group",
        "z": "",
        "name": "fermentacion",
        "tab": "b57d6d68.67cd6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c986de4e.c395a",
        "type": "mqtt out",
        "z": "c66a7287.5906d",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "f2aef8ca.3fc698",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "a9ee628d.9711e",
        "type": "ui_slider",
        "z": "c66a7287.5906d",
        "name": "",
        "label": "presion tanque",
        "group": "3211cfe3.4dc0a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "/pm/ipa/fermentacion/presion",
        "min": 0,
        "max": 10,
        "step": "0.05",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "c986de4e.c395a"
            ]
        ]
    },
    {
        "id": "8a9037a9.85383",
        "type": "ui_switch",
        "z": "c66a7287.5906d",
        "name": "",
        "label": "comando marcha bomba",
        "group": "2dd4b5a9.b9c1a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/pm/ipa/centrifugado/marcha",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "c986de4e.c395a"
            ]
        ]
    },
    {
        "id": "a90d5f64.45f8e",
        "type": "mqtt in",
        "z": "9e214afc.ee904",
        "name": "presion tanque",
        "topic": "/pm/ipa/fermentacion/presion",
        "qos": "0",
        "broker": "f2aef8ca.3fc698",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "f8899f0d.60781"
            ]
        ]
    },
    {
        "id": "a930906.4032df",
        "type": "mqtt in",
        "z": "9e214afc.ee904",
        "name": "marcha bomba",
        "topic": "/pm/ipa/centrifugado/marcha",
        "qos": "0",
        "broker": "f2aef8ca.3fc698",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "91be4120.4064b"
            ]
        ]
    },
    {
        "id": "91be4120.4064b",
        "type": "function",
        "z": "9e214afc.ee904",
        "name": "marcha/parada",
        "func": "msg.color = (msg.payload === \"true\")? \"lime\" : \"red\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "78a6983.d8b79e8"
            ]
        ]
    },
    {
        "id": "78a6983.d8b79e8",
        "type": "ui_text",
        "z": "9e214afc.ee904",
        "group": "2dd4b5a9.b9c1a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "estado de marcha",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "f8899f0d.60781",
        "type": "ui_text",
        "z": "9e214afc.ee904",
        "group": "3211cfe3.4dc0a",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "presion",
        "format": "{{msg.payload}} (kg/cm2)",
        "layout": "row-spread",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "8849be76.7867",
        "type": "dsl-gen",
        "z": "c426f3b7.59fe8",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "8dc71836.5561b8",
                "725f8877.9755b8"
            ]
        ]
    },
    {
        "id": "aca75347.bd90b8",
        "type": "mqtt in",
        "z": "c426f3b7.59fe8",
        "name": "todas las pub",
        "topic": "/#",
        "qos": "0",
        "broker": "f2aef8ca.3fc698",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "8849be76.7867"
            ]
        ]
    },
    {
        "id": "8dc71836.5561b8",
        "type": "debug",
        "z": "c426f3b7.59fe8",
        "name": "topic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "725f8877.9755b8",
        "type": "debug",
        "z": "c426f3b7.59fe8",
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 280,
        "y": 280,
        "wires": []
    }
]
