Final/nodos-test.txt
[
    {
        "id": "e98f5704.800f7",
        "type": "tab",
        "label": "set msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c9548621.580fc",
        "type": "tab",
        "label": "get msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90b288a4.a4a688",
        "type": "tab",
        "label": "dsl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d46678.85e2f98",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1ec6b001.b2bac",
        "type": "ui_group",
        "z": "",
        "name": "centrifugado",
        "tab": "3649edd1.3ff3ca",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3649edd1.3ff3ca",
        "type": "ui_tab",
        "z": "",
        "name": "simulacion eventos",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "18a7c69d.3a2fc1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cce659cd.bfea38",
        "type": "ui_group",
        "z": "",
        "name": "fermentacion",
        "tab": "3649edd1.3ff3ca",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "29cef736.630ce8",
        "type": "mqtt-broker",
        "z": "",
        "name": "cloudmqtt",
        "broker": "m12.cloudmqtt.com",
        "port": "15514",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "3dc4f72.4127108",
        "type": "mqtt out",
        "z": "e98f5704.800f7",
        "name": "publicador",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "29cef736.630ce8",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "9e34b0e9.a05ab",
        "type": "ui_slider",
        "z": "e98f5704.800f7",
        "name": "",
        "label": "presion tanque",
        "group": "cce659cd.bfea38",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "/pm/ipa/fermentacion/presion",
        "min": 0,
        "max": 10,
        "step": "0.05",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "3dc4f72.4127108"
            ]
        ]
    },
    {
        "id": "21aced74.46016a",
        "type": "ui_switch",
        "z": "e98f5704.800f7",
        "name": "",
        "label": "comando marcha bomba",
        "group": "1ec6b001.b2bac",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/pm/ipa/centrifugado/marcha",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "3dc4f72.4127108"
            ]
        ]
    },
    {
        "id": "45750f8b.8bbb58",
        "type": "mqtt in",
        "z": "c9548621.580fc",
        "name": "presion tanque",
        "topic": "/pm/ipa/fermentacion/presion",
        "qos": "0",
        "broker": "29cef736.630ce8",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "ad6fd470.71ed68"
            ]
        ]
    },
    {
        "id": "db6373d8.53aa7",
        "type": "mqtt in",
        "z": "c9548621.580fc",
        "name": "marcha bomba",
        "topic": "/pm/ipa/centrifugado/marcha",
        "qos": "0",
        "broker": "29cef736.630ce8",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "59d43f3b.efb648"
            ]
        ]
    },
    {
        "id": "59d43f3b.efb648",
        "type": "function",
        "z": "c9548621.580fc",
        "name": "marcha/parada",
        "func": "msg.color = (msg.payload === \"true\")? \"lime\" : \"red\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "627088af.648c28"
            ]
        ]
    },
    {
        "id": "627088af.648c28",
        "type": "ui_text",
        "z": "c9548621.580fc",
        "group": "1ec6b001.b2bac",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "estado de marcha",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "ad6fd470.71ed68",
        "type": "ui_text",
        "z": "c9548621.580fc",
        "group": "cce659cd.bfea38",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "presion",
        "format": "{{msg.payload}} (kg/cm2)",
        "layout": "row-spread",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "74c9494b.accb7",
        "type": "mqtt in",
        "z": "90b288a4.a4a688",
        "name": "todas las pub",
        "topic": "/#",
        "qos": "0",
        "broker": "29cef736.630ce8",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "63be56c3.603e08"
            ]
        ]
    },
    {
        "id": "804978ec.22d1b",
        "type": "debug",
        "z": "90b288a4.a4a688",
        "name": "topic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "x": 377,
        "y": 216,
        "wires": []
    },
    {
        "id": "69c9d9b9.7e2a9",
        "type": "debug",
        "z": "90b288a4.a4a688",
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "63be56c3.603e08",
        "type": "dsl-gen",
        "z": "90b288a4.a4a688",
        "options": [
            {
                "tag": "TAG_PRUEBA",
                "valor": "3,5",
                "ref": "4",
                "formula": "IF(B2>C2);'bomba parada';'bomba marcha'",
                "type": "stroke"
            }
        ],
        "x": 220,
        "y": 160,
        "wires": [
            [
                "804978ec.22d1b",
                "69c9d9b9.7e2a9"
            ]
        ]
    }
]
