Final/nodos test.txt
[
    {
        "id": "9f601b7d.d9b498",
        "type": "tab",
        "label": "set msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "52e4ec12.b268b4",
        "type": "tab",
        "label": "get msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39b5a36b.2984e4",
        "type": "tab",
        "label": "dsl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14cc6399.f2e4ac",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b13e37da.282c7",
        "type": "ui_group",
        "z": "",
        "name": "centrifugado",
        "tab": "70e06f61.c6ee08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "70e06f61.c6ee08",
        "type": "ui_tab",
        "z": "",
        "name": "simulacion eventos",
        "icon": "dashboard"
    },
    {
        "id": "b427e725.f85db",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f4797124.fb6518",
        "type": "ui_group",
        "z": "",
        "name": "fermentacion",
        "tab": "70e06f61.c6ee08",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d32cfe77.794b3",
        "type": "mqtt out",
        "z": "9f601b7d.d9b498",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "14cc6399.f2e4ac",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "747cf702.3fc47",
        "type": "ui_slider",
        "z": "9f601b7d.d9b498",
        "name": "",
        "label": "presion tanque",
        "group": "f4797124.fb6518",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "/pm/ipa/fermentacion/presion",
        "min": 0,
        "max": 10,
        "step": "0.05",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "d32cfe77.794b3"
            ]
        ]
    },
    {
        "id": "cd7e4e93.9d91c",
        "type": "ui_switch",
        "z": "9f601b7d.d9b498",
        "name": "",
        "label": "comando marcha bomba",
        "group": "b13e37da.282c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/pm/ipa/centrifugado/marcha",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "d32cfe77.794b3"
            ]
        ]
    },
    {
        "id": "d672f373.b3ab48",
        "type": "mqtt in",
        "z": "52e4ec12.b268b4",
        "name": "presion tanque",
        "topic": "/pm/ipa/fermentacion/presion",
        "qos": "0",
        "broker": "14cc6399.f2e4ac",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "92cbda50.25fcf"
            ]
        ]
    },
    {
        "id": "fe5c8f7f.945db8",
        "type": "mqtt in",
        "z": "52e4ec12.b268b4",
        "name": "marcha bomba",
        "topic": "/pm/ipa/centrifugado/marcha",
        "qos": "0",
        "broker": "14cc6399.f2e4ac",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "6d8d426c.b5f45c"
            ]
        ]
    },
    {
        "id": "6d8d426c.b5f45c",
        "type": "function",
        "z": "52e4ec12.b268b4",
        "name": "marcha/parada",
        "func": "msg.color = (msg.payload === \"true\")? \"lime\" : \"red\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "2d0c7afc.8f792e"
            ]
        ]
    },
    {
        "id": "2d0c7afc.8f792e",
        "type": "ui_text",
        "z": "52e4ec12.b268b4",
        "group": "b13e37da.282c7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "estado de marcha",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "92cbda50.25fcf",
        "type": "ui_text",
        "z": "52e4ec12.b268b4",
        "group": "f4797124.fb6518",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "presion",
        "format": "{{msg.payload}} (kg/cm2)",
        "layout": "row-spread",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "f38d309d.eddc28",
        "type": "dsl-gen",
        "z": "39b5a36b.2984e4",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "746798c8.06f7c8",
                "9c91c1ed.360be8"
            ]
        ]
    },
    {
        "id": "9738a77b.d5df5",
        "type": "mqtt in",
        "z": "39b5a36b.2984e4",
        "name": "todas las pub",
        "topic": "/#",
        "qos": "0",
        "broker": "14cc6399.f2e4ac",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "f38d309d.eddc28"
            ]
        ]
    },
    {
        "id": "746798c8.06f7c8",
        "type": "debug",
        "z": "39b5a36b.2984e4",
        "name": "topic",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "9c91c1ed.360be8",
        "type": "debug",
        "z": "39b5a36b.2984e4",
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 280,
        "y": 280,
        "wires": []
    }
]
