Final/nodos test.txt
[
    {
        "id": "3b39e931.5d2df6",
        "type": "tab",
        "label": "set msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "566763fa.66126c",
        "type": "tab",
        "label": "get msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30b1d5a8.616c7a",
        "type": "tab",
        "label": "dsl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2b4fb5.ebc0d08",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2d377b17.0314dc",
        "type": "ui_group",
        "z": "",
        "name": "centrifugado",
        "tab": "f81eb179.8ad978",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f81eb179.8ad978",
        "type": "ui_tab",
        "z": "",
        "name": "simulacion eventos",
        "icon": "dashboard"
    },
    {
        "id": "9237df78.1ef0d8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5db9de04.82f048",
        "type": "ui_group",
        "z": "",
        "name": "fermentacion",
        "tab": "f81eb179.8ad978",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f902b2e0.699688",
        "type": "mqtt out",
        "z": "3b39e931.5d2df6",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "a2b4fb5.ebc0d08",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "9908b82a.0518b8",
        "type": "ui_slider",
        "z": "3b39e931.5d2df6",
        "name": "",
        "label": "presion tanque",
        "group": "5db9de04.82f048",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "/pm/ipa/fermentacion/presion/",
        "min": 0,
        "max": 10,
        "step": "0.05",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "f902b2e0.699688"
            ]
        ]
    },
    {
        "id": "ef4f80f1.ba675",
        "type": "ui_switch",
        "z": "3b39e931.5d2df6",
        "name": "",
        "label": "comando marcha bomba",
        "group": "2d377b17.0314dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/pm/ipa/centrifugado/marcha",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "f902b2e0.699688"
            ]
        ]
    },
    {
        "id": "5db70e5c.8e45d8",
        "type": "mqtt in",
        "z": "566763fa.66126c",
        "name": "presion tanque",
        "topic": "/pm/ipa/fermentacion/presion",
        "qos": "0",
        "broker": "a2b4fb5.ebc0d08",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "38913cf0.922f4c"
            ]
        ]
    },
    {
        "id": "b2390e0c.4f9858",
        "type": "mqtt in",
        "z": "566763fa.66126c",
        "name": "marcha bomba",
        "topic": "/pm/ipa/centrifugado/marcha",
        "qos": "0",
        "broker": "a2b4fb5.ebc0d08",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "a1a18217.49f36"
            ]
        ]
    },
    {
        "id": "a1a18217.49f36",
        "type": "function",
        "z": "566763fa.66126c",
        "name": "marcha/parada",
        "func": "msg.color = (msg.payload === \"true\")? \"lime\" : \"red\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "f607ccb6.705f1"
            ]
        ]
    },
    {
        "id": "f607ccb6.705f1",
        "type": "ui_text",
        "z": "566763fa.66126c",
        "group": "2d377b17.0314dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "estado de marcha",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "38913cf0.922f4c",
        "type": "ui_text",
        "z": "566763fa.66126c",
        "group": "5db9de04.82f048",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "presion",
        "format": "{{msg.payload}} (kg/cm2)",
        "layout": "row-spread",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "d61aa368.22fdc",
        "type": "mqtt in",
        "z": "30b1d5a8.616c7a",
        "name": "presion tanque",
        "topic": "/pm/ipa/fermentacion/presion",
        "qos": "0",
        "broker": "a2b4fb5.ebc0d08",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "731c2e01.104d78"
            ]
        ]
    },
    {
        "id": "13dcf757.a48d89",
        "type": "mqtt in",
        "z": "30b1d5a8.616c7a",
        "name": "marcha bomba",
        "topic": "/pm/ipa/centrifugado/marcha",
        "qos": "0",
        "broker": "a2b4fb5.ebc0d08",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "731c2e01.104d78"
            ]
        ]
    },
    {
        "id": "731c2e01.104d78",
        "type": "dsl-gen",
        "z": "30b1d5a8.616c7a",
        "x": 340,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "53171fc7.63513",
        "type": "mqtt in",
        "z": "30b1d5a8.616c7a",
        "name": "todas las pub",
        "topic": "/#",
        "qos": "0",
        "broker": "a2b4fb5.ebc0d08",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "731c2e01.104d78"
            ]
        ]
    }
]
