Final/nodos-test.txt
[
    {
        "id": "d9819a4f.710e58",
        "type": "tab",
        "label": "set msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a73e864.ca860f8",
        "type": "tab",
        "label": "get msg",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bdd0070d.6f6358",
        "type": "tab",
        "label": "dsl",
        "disabled": false,
        "info": ""
    },
    {
        "id": "47e0f5d.83a208c",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "88042d6.ddb06d",
        "type": "ui_group",
        "z": "",
        "name": "centrifugado",
        "tab": "348bdf72.f9cd88",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "348bdf72.f9cd88",
        "type": "ui_tab",
        "z": "",
        "name": "simulacion eventos",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "b9804127.5ada5",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3b3618a1.966458",
        "type": "ui_group",
        "z": "",
        "name": "fermentacion",
        "tab": "348bdf72.f9cd88",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3ea8c7eb.00758",
        "type": "mqtt out",
        "z": "d9819a4f.710e58",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "47e0f5d.83a208c",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "3827cd9b.4ac792",
        "type": "ui_slider",
        "z": "d9819a4f.710e58",
        "name": "",
        "label": "presion tanque",
        "group": "3b3618a1.966458",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "/pm/ipa/fermentacion/presion",
        "min": 0,
        "max": 10,
        "step": "0.05",
        "x": 120,
        "y": 140,
        "wires": [
            [
                "3ea8c7eb.00758"
            ]
        ]
    },
    {
        "id": "f29d10a8.b2fa78",
        "type": "ui_switch",
        "z": "d9819a4f.710e58",
        "name": "",
        "label": "comando marcha bomba",
        "group": "88042d6.ddb06d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/pm/ipa/centrifugado/marcha",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "3ea8c7eb.00758"
            ]
        ]
    },
    {
        "id": "cd9c529c.315ff8",
        "type": "mqtt in",
        "z": "a73e864.ca860f8",
        "name": "presion tanque",
        "topic": "/pm/ipa/fermentacion/presion",
        "qos": "0",
        "broker": "47e0f5d.83a208c",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "df9b7543.fad408"
            ]
        ]
    },
    {
        "id": "3be35e5f.9845c2",
        "type": "mqtt in",
        "z": "a73e864.ca860f8",
        "name": "marcha bomba",
        "topic": "/pm/ipa/centrifugado/marcha",
        "qos": "0",
        "broker": "47e0f5d.83a208c",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "998e7e29.a84df"
            ]
        ]
    },
    {
        "id": "998e7e29.a84df",
        "type": "function",
        "z": "a73e864.ca860f8",
        "name": "marcha/parada",
        "func": "msg.color = (msg.payload === \"true\")? \"lime\" : \"red\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 200,
        "y": 220,
        "wires": [
            [
                "6fbe1a59.a4fdf4"
            ]
        ]
    },
    {
        "id": "6fbe1a59.a4fdf4",
        "type": "ui_text",
        "z": "a73e864.ca860f8",
        "group": "88042d6.ddb06d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "estado de marcha",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "df9b7543.fad408",
        "type": "ui_text",
        "z": "a73e864.ca860f8",
        "group": "3b3618a1.966458",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "presion",
        "format": "{{msg.payload}} (kg/cm2)",
        "layout": "row-spread",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "83fe2eb8.ab3d38",
        "type": "mqtt in",
        "z": "bdd0070d.6f6358",
        "name": "todas las pub",
        "topic": "/#",
        "qos": "0",
        "broker": "47e0f5d.83a208c",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "a0f0d0bb.0f0dd"
            ]
        ]
    },
    {
        "id": "93e0462.eda6b38",
        "type": "debug",
        "z": "bdd0070d.6f6358",
        "name": "topic",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "x": 370,
        "y": 220,
        "wires": []
    },
    {
        "id": "17c69645.f81b0a",
        "type": "debug",
        "z": "bdd0070d.6f6358",
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "a0f0d0bb.0f0dd",
        "type": "dsl-gen",
        "z": "bdd0070d.6f6358",
        "options": [
            {
                "tag": "",
                "valor": "",
                "ref": "",
                "formula": "",
                "type": "stroke"
            }
        ],
        "x": 220,
        "y": 140,
        "wires": [
            [
                "93e0462.eda6b38",
                "17c69645.f81b0a"
            ]
        ]
    }
]
