Practica/tp4/test.txt
[{"id":"d3c25b8e.2b0e18","type":"tab","label":"pto 1 - nuevo svg","disabled":false,"info":""},{"id":"d9467846.0ce11","type":"tab","label":"pto 1 - editar svg","disabled":false,"info":""},{"id":"7ae949de.952558","type":"tab","label":"ptos2y3 - silo de grano","disabled":false,"info":""},{"id":"ce6fc4c.77d50b8","type":"tab","label":"ptos2y3 - mezclado malta","disabled":false,"info":""},{"id":"619292e6.e6abdc","type":"mqtt-broker","z":"","name":"broker mqtt","broker":"mqtt://mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b8edd37f.f9a6","type":"ui_tab","z":"","name":"Fabrica de cerveza","icon":"dashboard"},{"id":"637ed595.2409e4","type":"ui_group","z":"","name":"silo grano","tab":"b8edd37f.f9a6","disp":true,"width":"6","collapse":false},{"id":"e7d2bc65.5394a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"51fbd5ef.f44b4c","type":"ui_group","z":"","name":"mezclado malta","tab":"b8edd37f.f9a6","disp":true,"width":"6","collapse":false},{"id":"79a39be1.8fb1bc","type":"inject","z":"d3c25b8e.2b0e18","name":"inyectar rect","topic":"/canvas/nuevo/rect","payload":"una prueba","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["13ca157f.de2f2b"]]},{"id":"47d15c86.9751a4","type":"mqtt out","z":"d3c25b8e.2b0e18","name":"server msg","topic":"","qos":"0","retain":"true","broker":"619292e6.e6abdc","x":350,"y":100,"wires":[]},{"id":"db2a7cf2.4624","type":"mqtt in","z":"d3c25b8e.2b0e18","name":"","topic":"/canvas/nuevo/#","qos":"0","broker":"619292e6.e6abdc","x":100,"y":220,"wires":[["d63e633b.0c52c8"]]},{"id":"d63e633b.0c52c8","type":"debug","z":"d3c25b8e.2b0e18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":220,"wires":[]},{"id":"4f88f50b.d30a44","type":"inject","z":"d9467846.0ce11","name":"edicion valor 1","topic":"/canvas/editar/valor1","payload":"edicion valor 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["188d5aa2.7f3bfd"]]},{"id":"188d5aa2.7f3bfd","type":"mqtt out","z":"d9467846.0ce11","name":"server msg","topic":"","qos":"0","retain":"true","broker":"619292e6.e6abdc","x":350,"y":80,"wires":[]},{"id":"516fc5ec.ba2164","type":"mqtt in","z":"d9467846.0ce11","name":"","topic":"/canvas/editar/#","qos":"0","broker":"619292e6.e6abdc","x":120,"y":200,"wires":[["837e331a.b722d8"]]},{"id":"837e331a.b722d8","type":"debug","z":"d9467846.0ce11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":200,"wires":[]},{"id":"2c2d431a.63a7cc","type":"inject","z":"d9467846.0ce11","name":"edicion valor 2","topic":"/canvas/editar/valor2","payload":"edicion valor 2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["188d5aa2.7f3bfd"]]},{"id":"766ad7e3.c4ef6","type":"inject","z":"d9467846.0ce11","name":"edicion valor 3","topic":"/canvas/editar/valor3","payload":"edicion valor 3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["188d5aa2.7f3bfd"]]},{"id":"93a5d6ba.1c935","type":"inject","z":"d3c25b8e.2b0e18","name":"inyectar circle","topic":"/canvas/nuevo/circle","payload":"una prueba","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["62ba0f14.33499"]]},{"id":"13ca157f.de2f2b","type":"svg-storage","z":"d3c25b8e.2b0e18","cantidad":0,"x":270,"y":40,"wires":[["47d15c86.9751a4"]]},{"id":"62ba0f14.33499","type":"svg-storage","z":"d3c25b8e.2b0e18","cantidad":0,"x":270,"y":160,"wires":[["47d15c86.9751a4"]]},{"id":"dc63983.8de62e8","type":"ui_slider","z":"7ae949de.952558","name":"","label":"set nivel","group":"637ed595.2409e4","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"15","step":"0.01","x":80,"y":40,"wires":[["ebd992d4.086038","eee8fec1.ed1fe"]]},{"id":"ebd992d4.086038","type":"mqtt out","z":"7ae949de.952558","name":"presion tambor de coccion","topic":"/pm/prod-cerveza/silo-grano/tambor/nivel","qos":"0","retain":"true","broker":"619292e6.e6abdc","x":320,"y":100,"wires":[]},{"id":"eee8fec1.ed1fe","type":"ui_chart","z":"7ae949de.952558","name":"","group":"637ed595.2409e4","order":0,"width":"3","height":"7","label":"get nivel","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"15","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":260,"y":40,"wires":[[],[]]},{"id":"d7b553da.bbead8","type":"ui_slider","z":"ce6fc4c.77d50b8","name":"","label":"set nivel","group":"51fbd5ef.f44b4c","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"17","step":"0.01","x":80,"y":40,"wires":[["f4841a5f.1b21c","48990f5c.604bc"]]},{"id":"f4841a5f.1b21c","type":"mqtt out","z":"ce6fc4c.77d50b8","name":"presion tambor de coccion","topic":"/pm/prod-cerveza/mezclado-malta/tambor/nivel","qos":"0","retain":"true","broker":"619292e6.e6abdc","x":320,"y":100,"wires":[]},{"id":"48990f5c.604bc","type":"ui_chart","z":"ce6fc4c.77d50b8","name":"","group":"51fbd5ef.f44b4c","order":0,"width":"3","height":"7","label":"get nivel","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"17","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":260,"y":40,"wires":[[],[]]}]
